@charset "UTF-8";

article{
    margin: 10px;
    border-bottom: 1px solid #000;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 145px;
}

.titulo img{
    width: 250px;
}

.titulo h1{
    position: relative;
    top: -70px;
    font-size: 1.5em;
    color: #fff;
}

.noticiaP{
    margin: 10px;
}

.noticiaP img{
    display: block;
    margin: 10px auto;
    width: 100%;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #000;
}

.tituloP{
    display: flex;
    align-items: center;
    gap: 20px;
}

.tituloP h2{
    width: 50%;
    color: #fff;
    text-indent: 15px;
    background-color: #000;
}

.tituloP:nth-child(2):after{
    content: url(imgs/Hand2.png);
    transform: rotate(-90deg);
}

.tituloP:nth-child(1) h2{
    width: 100%;
}

h3{
    padding: 10px;
    font-size: 1.3em;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticiaA{
    max-width: 400px;
    box-shadow: 0px 0px 5px #000;
    border-radius: 10px;
}

.tituloA h2{
    width: 100%;
    padding: 5px;
    color: #fff;
    background-color: #000;
}

.noticiaAs{
    display: flex;
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid #000;
}

.noticiaAs:last-of-type{
    border-bottom: 0px;
}

.noticiaAs h2{
    font-size: 1em;
    padding-bottom: 10px;
}

.noticiaAs p{
    font-size: 0.8em;
}

.noticiaAs img{
    width: 75px;
    margin-left: 25px;
}

aside:nth-of-type(1) .noticiaAs{
        max-width: 400px;
}

.titulo h1 {
    font-size: 1.4em;
}

@media screen and (min-width: 800px){
    #noticiasPrincipais{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
     
    #noticiasPrincipais article{
        width: 60%;
    }

    article{
        margin: 10px;
        border-bottom: 0;
    }

    aside:nth-of-type(1){
        margin: 10px;
        border-left: 0;
    }

    aside:nth-child(3){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    aside:nth-of-type(1) .noticiaAs{
        border: 0;
    }
}

@media screen and (min-width: 1000px){
    .conteudoP{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .conteudoP img{
        width: 70%;
    }

    .conteudoP .textos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30%;
        max-height: 600px;
    }
}